/* start section welcome */
/* section container row col */

.section{
    margin: 50px 0px;
}
.section.welcome>*{

}

.section.welcome .container .row .espace{
    display: flex;
    flex-direction: column;
    
}

.section.welcome .container .row .espace>*{
    margin: 0px;
    padding: 0px;
}


.section.welcome .container .row .espace .content-text{
    margin: 3rem 0px;
}

.section.welcome .container .row .espace .content-text .titlesec{
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(128, 111, 224);

}

.section.welcome .container .row .espace .content-text .welcome-sentence{
    font-size: .8rem;
    color: rgb(204, 200, 223);

}
.section.welcome .container .row .espace .espace-secretaire{
    background-color: rgba(128, 111, 224, 0.527);
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    margin: 20px 0px;
}

.section.welcome .container .row .espace .espace-secretaire h5{
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
}

.section.welcome .container .row .content-img{
   
    width: 400px;
    height: 400px;

}

.section.welcome .container .row .content-img img{
    width: 100%;
    height: 100%;
}
/* end section welcome */

/* start section action */

    .section.action .container .row .content-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height:400px;

    }

    .section.action .container .row .content-img img{
        width: 100%;
        height: 100%;
    }

    .section.action .container .row .content-card{

        
        background-color: rgba(173, 195, 227, 0.132);
        /* padding: ; */
    }

.section.action .container .row .content-card .bigtitle h6{
        font-weight: bold;
        margin: 10px;
        color: rgba(46, 121, 233, 0.871);

    }

    .section.action .container .row .content-card .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* 
    .section.action .container .row .content-card .row:nth-child(1){
        background: wheat;
    }

    .section.action .container .row .content-card .row:nth-child(2){
        background: wheat;

    }

     */
    .section.action .container .row .content-card .row>*{
        width:40%;
        height:80px;
        background: rgba(8, 8, 140, 0.361);
        border-radius: 10px;
        margin : 15px 10px;
    }

    .section.action .container .row .content-card .row .content-card-block .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: 10px auto 0px auto;
    }

    .section.action .container .row .content-card .row .content-card-block .title h3{
        font-size: .8rem;
        font-weight: bold;
        margin:15px auto;
        color: white;
    }
    .section.action .container .row .content-card .row .content-card-block .title span{
        width: 50px;
        height: 40px;
        background: rgba(63, 77, 204, 0.185);
        padding: auto;
        border-radius: 10px;
        font-size: 2rem;
        text-align: center;
        color: white;
    }

    .section.action .container .row .content-card .row .content-card-block .text p{
        text-align: center;
        font-size: .7rem;
        color:rgba(212, 222, 239, 0.6);
        font-weight: 800;

    }
    .section.action .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* end section action */


/* start section Add patients */

.section.ajout .container .title{
    font-weight: bold;
    color:var(--main-color)
}
.section.ajout .container .row.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(136, 127, 175, 0.11);
    padding: 20px;
    border-radius: 20px;
    /* margin-right: 2px; */
}

.section.ajout .container .row.information .form{
    padding: 0px 20px;
    background-color: rgba(111, 111, 129, 0.075);
}


.section.ajout .container .row .img{
    width:320px;
    height:300px;
}

.section.ajout .container .row .img img{
    width:100%;
    height:100%;
}
.section.ajout .container   .row .input-control{
    margin: 1.2rem 0px;
    display: flex;
    justify-content: space-between;

}

.section.ajout .container   .row .input-control.submit{
    justify-content: flex-end;
    padding: 15px 46px;
}

.section.ajout .container   .row .input-control.submit button{
    padding: 10px;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--primary-blue-10);
}

.section.ajout .container   .row .input-control input{
    border: 0px;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--main-color);
    /* border-bottom: 1px solid rgb(122, 120, 120); */
    width: 90%;
    transition: all .5s ease-in;
}

.section.ajout .container  .form .row input:focus{
    border-color: blueviolet;
    border-bottom: 2px solid rgb(91, 18, 158);

}

.section.ajout .container  .form .row input:focus::-webkit-input-placeholder, .section.ajout .container  .form .row input:focus::-moz-placeholder, .section.ajout .container  .form .row input:focus::placeholder{
    font-size: .4rem;
    transform: scale(0.6);
    color: rgb(91, 18, 158);
}

.section.ajout .container  .form .row input:focus::-moz-placeholder{
    font-size: .4rem;
    transform: scale(0.6);
    color: rgb(91, 18, 158);
}

 .section.ajout .container  .form .row input:focus::placeholder{
    font-size: .7rem;
    color: rgb(91, 18, 158);
    font-weight: bold
    ;
}
/* end section Add patients */

/* start section liste patients */
    .section.liste .container {
        background: var(--primary-blue-15);
        margin: 0px !important;
        padding: 20px;
    }

    .section.liste .container .title{
         font-weight: bold;
         color: var(--primary-blue-100);
    }

    .section.liste .container .table-list table th{
        color: var(--main-color);
        font-weight: bold;

    }

    .section.liste .container .table-list table td span{
        text-align: center;
    }

    .section.liste .container .table-list table td span>*{
        margin: 10px;
    }
/* end section liste patients */
